html {
    font: normal 16px 'Quicksand', sans-serif;
    line-height: 2;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
}

@media screen and (max-width: 500px) {
    html {
      font-size: 14px;
    }
  }

body > * {
    box-sizing: border-box;
}

body {
    cursor: url(../images/cursor-auto.png), auto;
    display: flex;
    flex-wrap: wrap;
    max-inline-size: 1400px;
    min-block-size: 100vh;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(208, 208, 208) 100%) fixed;
}

header {
    margin-bottom: 160px;
    text-align: center;
    line-height: 1.5;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgba(161, 202, 98, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

    h1 {
        color: rgba(126, 237, 89, 1);
        margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .desc-box {
            display: flex;
            align-items: center;
            min-width: 250px;
            max-width: 400px;
            padding: 25px;
            border: 3px solid rgba(161, 202, 98, 1);
            border-radius: 55px;
            margin: 15px auto;
        }

        .desc-box:hover, .desc-box:active {
            filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.5));
        }

        .project-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            padding: 0 20px 40px;
        }

        .project-container h2 {
            font: inherit;
            text-align: center;
            margin-bottom: 30px;
        }

        .proj-img {
            flex: 1 300px;
            margin: 0 auto;
            text-align: center;
        }

        .proj-info {
            margin-top: 20px;
            flex: 1 300px;
            text-align: center;
        }
        
        @media screen and (max-width: 500px) {
            .proj-info {
                margin-top: 0px; 
            }
        }

        .project-container img {
            min-width: 250px;
            max-width: 100%;
        }

        .project-container a {
            text-decoration: 0;
            color: rgba(118, 148, 72, 1);
            border-bottom: 1px solid;
        }

        .project-container a:hover {
            border: 0;
        }

        .first-print {
            border-radius: 30px;
            filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));
        }
        
        @keyframes scale {
            to {
                transform:scale(1.2, 1.2);
            }
        }

        .first-print:hover {
            animation: scale 0.4s forwards;
        }

            #foto-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                max-width: 230px;
                margin-top: -160px;
                margin-inline: auto;
            }

            #foto-container > img {
                border-radius: 55px;
                filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.4));
            }

            #links img {
                margin-top: 4px;
            }

            @keyframes rotate360 {
                to {
                    transform: rotate(360deg)
                }
            }

            #links img:hover, #links img:active {
                animation: rotate360 0.4s;
            }

            #tags-p, #adress-p {
                margin-top: 20px;
                text-align: center;
                line-height: 1;
            }

            #black-container {
                flex: 1 300px;
                padding: 30px;
                background: no-repeat center url(../images/abacates-background.png) rgb(34, 36, 33);
                box-shadow: 12px 0px 27px rgba(0, 0, 0, 0.3);
                z-index: 1;
            }   

            #intro-box {
                transform: translateX(30px);
                display: block;
                max-width: 500px;
                border-color: rgba(126, 237, 89, 1);
                animation: slideLeft 2s forwards;
            }

            @keyframes slideRight {
                from {
                    transform: translateX(-30px);
                }
                to {
                    transform: translateX(0);
                }
            }

            @keyframes slideLeft {
                from {
                    transform: translateX(30px);
                }
                to {
                    transform: translateX(0);
                }
            }

            #skills-box {
                transform: translateX(-30px);
                animation: slideRight 2s forwards; 
            }
            
            #formac-box {
                transform: translateX(30px);
                animation: slideLeft 2s forwards; 
            }

            #formac-box h3 {
                order: 1;
            }

            #black-container h2 {
                font-size: 1.6rem;
                color: rgba(161, 202, 98, 1);
                margin: 0;
            }

            #black-container h3 {
                font-size: 0.9rem;
                writing-mode: vertical-lr;
                color: rgb(34, 36, 33);
                background-color: rgb(219, 219, 219);
                inline-size: 120px;
                text-align: center;
                padding-block: 5px;
                margin-block: 20px;
                border-radius: 55px;
            }
                        
            @keyframes fadeIn {
                from {
                    opacity: 0;
                } 
                
                to {
                    opacity: 1;
                }
            }

            #white-container {
                flex: 2 300px;
                color: rgb(34, 36, 33);
                position: relative;
                opacity: 0;
                animation: fadeIn 2s forwards;
                background: url(../images/aba.png) no-repeat right 30px/20%,
                            url(../images/cate.png) no-repeat left 30px/20%;
            }

            @media screen and (max-width: 500px) {
                #white-container {
                    flex: 1 300px;
                }
            }

            #white-container h1 {
                color: rgba(161, 202, 98, 1);
                font-size: 1.8rem;
                margin-top: 70px;
                margin-bottom: 80px;
                text-align: center;
                letter-spacing: 0.8rem;
            }

            #main-container {
                padding: 30px;
            }

            #serv-box {
                border-color: rgba(118, 148, 72, 1);
                display: block;
                max-width: 300px;
                margin-inline: auto;
                margin-bottom: 120px;
            }
  
            @keyframes scale2 {
                to {
                    transform:scale(1.1, 1.1);
                }
            }

            #serv-box:hover {
                animation: scale2 0.4s forwards;
            }

            #serv-box  h3 {
                text-align: center;
            }