html {
    background: #2c292c;
    font-family: 'Quicksand', sans-serif;
    color: #2B2838;
    font-size: 15px;
}

body {
    width: 760px;
    margin: 0px auto;
    background: #ffffff;
}   

.header-container {
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding: 40px 0px 20px 0px;
}

h1 {
    margin: 0;
    font-size: 48px;
    padding: 15px 0px 15px 0px;
    text-shadow: 4px 4px 2px rgb(191, 191, 191);
}

h2 {
    font-size: 24px;
}

.upper-box {
    margin: auto;
    padding: 20px 60px 20px 60px;
    background: #2B2838;
    color: #ffffff;
}

#info-box {
    display: flex;
}

#foto {
    width: 200px;
    display: block;
}

.desc-container {
    text-align: center;
    padding: 15px 0px 10px 0px;
    margin: auto;
}

.bottom-box {
    display: flex;
    padding: 40px;
}

#first-flex {
    padding-right: 50px;
}
#github {
    color: #ad00b3;
}

#github:hover {
    color:hsl(285, 100%, 73%);
}

#qr {
    width: 100px;
}

button {
    display: block;
}

